<h1>Apply for {{ item | upper }} Insurance</h1>
<form action="/submit-form" method="POST">
    <input type="hidden" name="catalog_item" value="{{ item }}">
    Name: <input type="text" name="name" required><br><br>
    Address: <input type="text" name="address" required><br><br>
    Age of {{ item }}: <input type="number" name="item_age" required><br><br>
    Years of Insurance: <input type="number" name="years_of_insurance" required><br><br>
    <button type="submit">Review Application</button>
</form>